.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

table{
    min-width: 80%;
    margin: auto;
    text-align: center;
}

.mat-header-cell{
    font-weight: bold;
    text-align: center;
}

.mat-row:hover{
    cursor: pointer;
    /*box-shadow: inset 0 0 0 5px #c0c0c0;*/
    background-color: aliceblue;
}

::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
}